<!-- form_with builds us a form -->
<%= form_with model: @article do |form| %>

<div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <!--error message-->
    <% @article.errors.full_messages_for(:title).each do |message|%>
    <div>
        <%= message %>
    </div>
    <% end %>
</div>

<div>
    <%= form.label :body %>
    <%= form.text_area :body %>
    <!--error message (returns array of user-friendly error messages for specified attributes-->
    <% @article.errors.full_messages_for(:body).each do |message|%>
    <div>
        <%= message %>
    </div>
    <% end %>
</div>

    <div>
        <%= form.submit %>
    </div>
<% end %>